<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="idPutniNalog" [value]="service.formData.idPutniNalog" />
    <div class="from-group">
        <label>Vrijeme odlaska</label>
        <input  [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
        name="vrijemePolazak" #vrijemePolazak="ngModel" [(ngModel)]="service.formData.vrijemePolazak" >
        <owl-date-time #dt1 [firstDayOfWeek]=1 ></owl-date-time>        
    </div>
    <div class="from-group">
        <label>Vrijeme povratka</label>

        <input  [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" 
        name="vrijemePovratak" #vrijemePovratak="ngModel" [(ngModel)]="service.formData.vrijemePovratak" >
        <owl-date-time #dt2 [firstDayOfWeek]=1 ></owl-date-time>
    </div>
    <div class="from-group">
        <label>Razlog putovanja</label>
        <input class="form-control form-control-lg" placeholder="Razlog" 
        name="razlogPutovanja" #razlogPutovanja="ngModel" [(ngModel)]="service.formData.razlogPutovanja" >
    </div>


    
    <div id="putnici" class="from-group">
        <label>Putnici</label>
    </div>


    <input type="button" value="Dodaj putnika" (click)="addPutnik()"> 


    <div class="from-group">
        <label>Komentar</label>
        <input class="form-control form-control-lg" placeholder="Komentar" 
        name="komentar" #komentar="ngModel" [(ngModel)]="service.formData.komentar">
    </div>
    <div class="from-group">
        <label>E-mail</label>
        <input class="form-control form-control-lg" placeholder="E-mail" name="email"
         #email="ngModel" [(ngModel)]="service.formData.email" required email [class.invalid]="email.invalid && email.touched">
    </div>


    
        <div class="d-flex justify-content-between">
            <div >
                <button class="btn btn-info btn-lg"  type="submit" [disabled]="form.invalid">POTVRDI</button>           
            </div>
            <div>                 
                <button class="btn btn-danger btn-lg" (click)="resetForm(form)">ODUSTANI</button>                
            </div>
        </div>
    
</form>